doctype html
html
    head
        title rpf3.io
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        link(href='cover.css', rel='stylesheet')
    body
        div.site-wrapper
            div.site-wrapper-inner
                div.cover-container
                    block content